.banner {
  padding: 0 15px;
  transform: translateY(-80px);
  &-inner {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
    top: -78px;
    .banner-item {
      width: 33.33333%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: white;

      .banner-img {
        object-fit: cover;
      }
      .banner-content {
        text-align: center;
        width: 290px;
        h3 {
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
        }
        p {
          font-size: 14px;
          color: $desc-color;
        }
      }
    }
  }
}
.banner-tablet {
  display: none;
}
.tab-bar {
  &-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid $border-color;
    li {
      p {
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 20px 18px;
        cursor: pointer;
      }
      p:hover {
        color: $main-color;
        border-bottom: 2px solid $main-color;
      }

      .active {
        color: $main-color;
        border-bottom: 2px solid $main-color;
      }
    }
  }
  .tab-wrap {
    .top-seller-product {
      display: none;
    }
    .featured-product {
      display: none;
    }
    .most-reviews-product {
      display: none;
    }
    .active {
      display: block;
    }
    .product-list {
      .product-item {
        margin-top: 30px;
        @include cols(25%);
        .product-inner {
          padding: 20px;
          position: relative;
          .btn-icon {
            display: none;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 3;
            i {
              display: block;
              color: $desc-color;
              font-size: 16px;
              padding: 10px;
              border-radius: 5px 0px;
              margin-bottom: 15px;
              border: 1px solid $border-color;
              transition: 0.3s;
              cursor: pointer;
              &:hover {
                background: $main-color;
                color: white;
              }
            }
          }
          .product-img {
            text-align: center;
            img {
              width: 80%;
              height: 220px;
              object-fit: contain;
              transition: 0.5s;
            }
          }
          .product-content {
            margin-top: 50px;
            h4 {
              font-size: 14px;
              font-weight: 400;
              margin-bottom: 8px;
            }
            p {
              font-size: 14px;
              font-weight: 600;
            }
          }
          &:hover img {
            transform: scale(1.1);
          }
          &:hover {
            .btn-icon {
              display: block;
            }
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
          }
        }
      }
    }
  }
}

.top-selling {
  &-inner {
    transform: translateY(-28px);
    .selling-title {
      display: flex;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      li {
        list-style-type: none;
        a {
          padding: 20px;
          display: block;
          padding-bottom: 10px;
          position: relative;
          margin-right: 10px;
        }
        a::after {
          content: "";
          height: 3px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: transparent;
        }
      }
      li.active a::after {
        background: red;
      }
    }
    .selling-products {
      margin-top: 18px;
      margin: 0 -15px;
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
      .selling-items {
        position: relative;
        width: 24%;
        height: 333px;
        .item {
          display: flex;
          img {
            position: absolute;
            height: 192px;
            width: 162px;
            top: 19px;
            left: 55px;
          }
          .selling-icons {
            opacity: 0;
            top: 20px;
            right: 20px;
            position: absolute;
            display: flex;
            flex-direction: column;
            i {
              color: $desciption;
              line-height: 35px;
              text-align: center;
              border: 1px solid $desciption;
              height: 35px;
              width: 35px;
              margin-top: 20px;
              border-radius: 10px 0 10px 0;
            }
            i:hover {
              background: red;
              color: #fff;
            }
          }
          .selling-icons.active {
            opacity: 1;
          }
          .selling-icons:hover {
            opacity: 1;
          }
        }
        .item-title {
          position: absolute;
          top: 260px;
          left: 30px;
          font-weight: 500;
          font-size: 14px;
        }
        .item-price {
          position: absolute;
          top: 280px;
          left: 30px;
          font-weight: bold;
        }
      }
    }
    .selling-items:hover {
      border: 1px solid $desciption;
    }
  }
}

.newsletter {
  .newsletter-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
  }
  .newsletter-inner {
    text-align: center;
    img {
      height: 90px;
      width: 90px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      margin: auto;
    }
    .newsletter-description {
      margin-top: 15px;
      font-size: 18px;
      color: $desciption;
      width: 760px;
      margin: auto;
      margin-top: 17px;
    }
    .name {
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 40px;
      font-size: 18px;
    }
    .name-description {
      margin-top: 7px;
      color: $desciption;
      margin-bottom: 23px;
    }
    .slick-dots li.slick-active button:before {
      opacity: 0.75;
      color: red;
    }
    .slick-dots li button:before {
      font-size: 10px;
    }
    .slick-prev {
      display: none;
    }
    .slick-next {
      display: none;
    }
    .button {
      display: none;
    }
  }
}

.brands {
  .brands-inner {
    border-top: 1px solid $desciption;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    .brand {
      width: 16.6666%;
      text-align: center;
      padding: 40px 0;
      padding-bottom: 38px;
      img {
        height: 75px;
        width: 130px;
      }
    }
  }
}
