$bg-main: #fff;
$bg-footer-top: #222222;
$bg-footer-bot: #111111;
$title-color: #000;
$icon-sell: #dd2f31;
$tabbar-title: #000018;
$desciption: #777777;
$main-color: #dd2f31;
$desc-color: #777;
$border-color: #ddd;
